body {
  background-color: black;
}
body > nav {
  background-color: black;
  margin-bottom: 96px;
}
body > nav > div > a .navbar-brand {
  padding-top: 29px;
  padding-bottom: 29px;
}
#logo {
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 31px;
}
.nav-link {
  color: #7794ff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-left: 51px;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
}
#navbarNav > ul > li:nth-child(4) {
  margin-right: 158px;
}
body > div > div > div:nth-child(1) > div > h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  color: #e6e7ea;
  margin-bottom: 35px;
}
body > div > div > div:nth-child(1) > div > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: white;
}
body > div > div > div:nth-child(1) > div > p > span{
    color: #7794FF;
}
body > div > div > div:nth-child(2) > div{
    width: 381px;
    height: 381px;
    background-color: #C4C4C4;
    box-shadow: 10px -10px 100px #21296E;
    border-radius: 50%
}